# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# Environment files
.env

# Logs
logs/
*.log

# Database
*.sqlite
*.db

# Backup
backup/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Temporary files
*.tmp
*.bak